@font-face {
  font-family: NextEnglish;
  src: url('NextEnglish-UltraLight.eot');
  src: url('NextEnglish-UltraLight.eot?#iefix') format('embedded-opentype'),
       url('NextEnglish-UltraLight.woff2') format('woff2'),
       url('NextEnglish-UltraLight.woff') format('woff'),
       url('NextEnglish-UltraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: NextEnglish;
  src: url('NextEnglish-Regular.eot');
  src: url('NextEnglish-Regular.eot?#iefix') format('embedded-opentype'),
       url('NextEnglish-Regular.woff2') format('woff2'),
       url('NextEnglish-Regular.woff') format('woff'),
       url('NextEnglish-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: NextEnglish;
  src: url('NextEnglish-Medium.eot');
  src: url('NextEnglish-Medium.eot?#iefix') format('embedded-opentype'),
       url('NextEnglish-Medium.woff2') format('woff2'),
       url('NextEnglish-Medium.woff') format('woff'),
       url('NextEnglish-Medium.ttf') format('truetype');
  font-weight: 700;
}
