@font-face {
    font-family: 'Dalmatins';
    src:  url('https://raw.githubusercontent.com/Dev-Des/weblogo/master/Dalmatins.woff') format('woff'),
         url('https://raw.githubusercontent.com/Dev-Des/weblogo/master/Dalmatins.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
